<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Basil</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>1.3</string>
	</dict>
	<key>Chicory</key>
	<dict>
		<key>pH</key>
		<string>32.8</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Chives</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
	<key>Fennel</key>
	<dict>
		<key>pH</key>
		<string>6.6</string>
		<key>EC</key>
		<string>1.2</string>
	</dict>
	<key>Lavender</key>
	<dict>
		<key>pH</key>
		<string>6.6</string>
		<key>EC</key>
		<string>1.2</string>
	</dict>
	<key>Lemon Balm</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>1.3</string>
	</dict>
	<key>Marjoram</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>1.8</string>
	</dict>
	<key>Mint</key>
	<dict>
		<key>pH</key>
		<string>5.8</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Mustard Cress</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>1.8</string>
	</dict>
	<key>Parsley</key>
	<dict>
		<key>pH</key>
		<string>5.8</string>
		<key>EC</key>
		<string>1.3</string>
	</dict>
	<key>Rosemary</key>
	<dict>
		<key>pH</key>
		<string>5.8</string>
		<key>EC</key>
		<string>1.3</string>
	</dict>
	<key>Sage</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>0.5</string>
	</dict>
	<key>Thyme</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>1.2</string>
	</dict>
	<key>Watercress</key>
	<dict>
		<key>pH</key>
		<string>6.7</string>
		<key>EC</key>
		<string>1.1</string>
	</dict>
	<key>Artichoke</key>
	<dict>
		<key>pH</key>
		<string>7.0</string>
		<key>EC</key>
		<string>1.3</string>
	</dict>
	<key>Asparagus</key>
	<dict>
		<key>pH</key>
		<string>6.4</string>
		<key>EC</key>
		<string>1.6</string>
	</dict>
	<key>Bean (Common)</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>3.0</string>
	</dict>
	<key>Beetroot</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>2.9</string>
	</dict>
	<key>Broad Bean</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>2.0</string>
	</dict>
	<key>Broccoli</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>3.1</string>
	</dict>
	<key>Brussell Sprout</key>
	<dict>
		<key>pH</key>
		<string>7.0</string>
		<key>EC</key>
		<string>2.8</string>
	</dict>
	<key>Cabbage</key>
	<dict>
		<key>pH</key>
		<string>6.8</string>
		<key>EC</key>
		<string>2.8</string>
	</dict>
	<key>Capsicum</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>2.0</string>
	</dict>
	<key>Carrots</key>
	<dict>
		<key>pH</key>
		<string>3.1</string>
		<key>EC</key>
		<string>1.8</string>
	</dict>
	<key>Cauliflower</key>
	<dict>
		<key>pH</key>
		<string>6.5</string>
		<key>EC</key>
		<string>1.2</string>
	</dict>
	<key>Celery</key>
	<dict>
		<key>pH</key>
		<string>3.2</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
	<key>Cucumber</key>
	<dict>
		<key>pH</key>
		<string>5.9</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
	<key>Eggplant</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>3.0</string>
	</dict>
	<key>Endive</key>
	<dict>
		<key>pH</key>
		<string>2.8</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Fodder</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>1.9</string>
	</dict>
	<key>Garlic</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>1.6</string>
	</dict>
	<key>Leek</key>
	<dict>
		<key>pH</key>
		<string>6.8</string>
		<key>EC</key>
		<string>1.6</string>
	</dict>
	<key>Lettuce</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>1.0</string>
	</dict>
	<key>Marrow</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
	<key>Okra</key>
	<dict>
		<key>pH</key>
		<string>3.2</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Onions</key>
	<dict>
		<key>pH</key>
		<string>6.3</string>
		<key>EC</key>
		<string>1.6</string>
	</dict>
	<key>Pak-choi</key>
	<dict>
		<key>pH</key>
		<string>3.5</string>
		<key>EC</key>
		<string>1.8</string>
	</dict>
	<key>Parsnip</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>1.6</string>
	</dict>
	<key>Pea</key>
	<dict>
		<key>pH</key>
		<string>6.5</string>
		<key>EC</key>
		<string>1.3</string>
	</dict>
	<key>Pepino</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>3.5</string>
	</dict>
	<key>Peppers</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>2.5</string>
	</dict>
	<key>Bell peppers</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Hot Peppers</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>3.2</string>
	</dict>
	<key>Potato</key>
	<dict>
		<key>pH</key>
		<string>5.5</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Pumpkin</key>
	<dict>
		<key>pH</key>
		<string>6.5</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
	<key>Radish</key>
	<dict>
		<key>pH</key>
		<string>6.5</string>
		<key>EC</key>
		<string>1.9</string>
	</dict>
	<key>Spinach</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>2.0</string>
	</dict>
	<key>Silverbeet</key>
	<dict>
		<key>pH</key>
		<string>6.5</string>
		<key>EC</key>
		<string>2.0</string>
	</dict>
	<key>Sweet Corn</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>2.0</string>
	</dict>
	<key>Sweet Potato</key>
	<dict>
		<key>pH</key>
		<string>5.8</string>
		<key>EC</key>
		<string>2.2</string>
	</dict>
	<key>Taro</key>
	<dict>
		<key>pH</key>
		<string>5.2</string>
		<key>EC</key>
		<string>2.8</string>
	</dict>
	<key>Tomato</key>
	<dict>
		<key>pH</key>
		<string>6.0</string>
		<key>EC</key>
		<string>3.5</string>
	</dict>
	<key>Turnip</key>
	<dict>
		<key>pH</key>
		<string>6.2</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
	<key>Zucchini</key>
	<dict>
		<key>pH</key>
		<string>3.0</string>
		<key>EC</key>
		<string>2.1</string>
	</dict>
</dict>
</plist>
